[submodule "themes/referenda_pl_theme_stack"]
	path = themes/referenda_pl_theme_stack
	url = https://github.com/referenda-pl/referenda_pl_theme_stack
[submodule "public"]
	path = public
	url = https://github.com/referenda-pl/referenda_pl_public_html
